textarea {
    border: none;
    padding: 0;
    height: auto;
    width: 100%;
    font-size: 14px;
    resize: none;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    &:focus {
        outline: none;
    }
}
.a-todo-elem {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 15px;
    background: #FFFFFF;;
}
.a-todo-elem__circle {
    position: relative;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border: 2px solid #cecece;
    margin: 0 10px 0 0;
    cursor: pointer;
    &.active {
        border-color: green;
        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 4px;
            border-bottom: 2px solid green;
            border-left: 2px solid green;
            transform: rotate(-45deg);
        }
    }
}
.hight-priority {
    .a-todo-elem__circle {
        border-color: #F6412D;
        &.active {
            &:after {
                background: #F6412D;
            }
        }
    }
}
.medium-priority {
    .a-todo-elem__circle {
        border-color: #FF9800;
        &.active {
            &:after {
                background: #FF9800;
            }
        }
    }
}
.low-priority {
    .a-todo-elem__circle {
        border-color: #FFEC19;
        &.active {
            &:after {
                background: #FFEC19;
            }
        }
    }
}
.a-todo-elem.hight textarea {
    &:before {
        content: "!!!";
        color: #F6412D;

    }
}